body {
    background-color: #372839;
    margin: 0;
    display: flex; 
    flex-direction: column;
}
header {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    margin: 96px;
    margin-top: 37px;
    margin-bottom: 120px;
}

header img {
    height: 66;
    width: 66
}

header p {
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F5FBF2;
}

.title {
    flex-direction: column; 
    align-items: flex-start;
    margin-left: 80;
}

.main-section {
    display: flex; 
    flex-flow: wrap;
}

.main-section p {
    font-size: 70; 
    margin: 20;
    margin-left: 0;
    margin-right: 0;
} 

.main-section div {
    display: flex;
}

.main-section > div {
    flex: 1;
}

.main-section .buttons {
    flex-direction: row; 
    justify-content: space-around;
}
.counter {
    flex-direction: column;
    align-items: center;
}

.counter p {
    margin: 7;
}
.counter .number {
    font-size: 55;
}

.counter .text {
    font-size: 20;
    color: #9B9E9A;
}

.main-section img {
    height: 718px; 
    width: 558px;
}

.clients-logo {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    margin: 182;
    margin-bottom: 104;
}

.clients-logo img {
    height: 20px;
}

.cards-section {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cards {
    display: flex; 
    flex-direction: row;
    margin: 80px;
    align-self: start;
    margin-right: 0px;
    overflow: hidden;
    width: 1439px;
}

.auctions {
    background-image: url(auctionsbg.png);
}

.auctions img {
    height: 691px;
    width: 465px;
    margin: 20px;
}

.collections img {
    height: 432px;
    width: 535px;
    margin: 20px;
}

.categories {
    background-image: url(categoriesbg.png);
}

.categories img {
    height: 504px;
    width: 415px;
    margin: 20px;
}

.how-it-works {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.how-it-works > div {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.step img {
    height: 100px;
    width: 100px;
}

.step p {
    color: #FFCE4E;
    font-size: 24;
}

.subscribtion {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-top: 117px;
    padding-bottom: 117px;
    background-image: url(subscribebg.png);
}

.subscribe {
    display: flex;
    align-items: center;
}
.subscribe input {
    border: 1px solid #FFCE4E;
    color: #A48EA9;
    width: 436;
    height: 84;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30;
    font-size: 24;

}
.blackbutton {
    background-color: rgba(233,215,167,0.1); 
    border-color: #FFCE4E;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #FFCE4E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 84px; 
    width: 257px;
}
.yellowbutton {
    background-color: #FFCE4E; 
    border-color: #FFCE4E;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 84px; 
    width: 257px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F5FBF2;
    font-size: 60;
}
footer p {
    color: #96839B;
    font-size: 20;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

footer > img {
    width: 167; 
    height: 167;
    margin-top: 115px;
}

footer > div {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 115px;
}

.logos {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 226px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.logos > img {
    height: 25;
}